<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" class="h-12 w-14" type="image/png" href="/img/logobb.png">

    <title>Cadastro de Eventos</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>

        .body{
            background-color: #2e2e2e;
        }

        #image-preview {
            display: none;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.375rem; /* Rounded borders for the image */
        }

        /* Adicionando borda preta aos inputs */
        input[type="text"],
        input[type="number"],
        textarea {
            border: 1px solid #000;
            border-radius: 0.375rem;
            padding: 0.5rem;
            outline: none;
        }

        /* Estilizando o foco nos inputs */
        input[type="text"]:focus,
        input[type="number"]:focus,
        textarea:focus {
            border-color: #00f; /* Mudar a cor da borda quando em foco */
        }
    </style>
</head>

<body class="body">
    <!-- Navbar -->
    <header>
        <nav>
            <%- include('navbar', { usuarioAtual: usuarioAtual, logado: logado }) %>
        </nav>
    </header>

    <!-- Form Content -->
    <div class="flex justify-center items-center h-screen">
        <div class="h-80 bg-white rounded-lg">
            <div class="flex justify-center items-center">
                <div class="h-80 w-64 bg-white flex flex-col justify-center items-center space-y-4 p-4 rounded-lg">
                    <a href="/home" class="font-bold">Voltar</a>
                    <form action="/cadastroEvento" method="POST" enctype="multipart/form-data" class="w-full flex flex-col space-y-4">
                        <div class="flex justify-center items-center h-36 w-56 bg-black rounded-lg relative">
                            <img class="w-full h-full" src="/img/inseririmg.png" alt="">
                            <input type="file" name="midia" id="midia" class="w-full h-full opacity-0 cursor-pointer absolute inset-0 z-10" onchange="previewImage(event)">
                            <img id="image-preview" src="#" alt="Imagem selecionada" class="absolute inset-0 z-0">
                        </div>
                        <div class="mb-4">
                            <label for="descricao_evento" class="block text-black font-bold mb-2">Descrição do Evento:</label>
                            <textarea name="descricao_evento" id="descricao_evento" class="w-full px-3 py-2 rounded-md border focus:outline-none focus:border-blue-500" required></textarea>
                        </div>
                </div>
                <div class="h-80 w-72 bg-white flex flex-col justify-center items-center space-y-4 p-4 rounded-lg">
                    <div class="mb-1">
                        <input type="text" name="nome_evento" id="nome_evento" class="w-full p-2 rounded bg-gray-100" placeholder="Nome do Evento" required>
                    </div>
                    <div class="mb-4">
                        <input type="text" name="insta" id="insta" class="w-full p-2 rounded bg-gray-100" placeholder="Instagram" required>
                    </div>
                    <div class="mb-4">
                        <input type="text" name="local" id="local" class="w-full p-2 rounded bg-gray-100" placeholder="Local" required>
                    </div>
                    <div class="mb-4">
                        <input type="number" step="0.01" name="ingresso" id="ingresso" class="w-full p-2 rounded bg-gray-100" placeholder="Preço do Ingresso" required>
                    </div>
                    <button type="submit" class="w-full bg-red-700 hover:bottom-2 text-white py-2 rounded">Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function() {
                var imagePreview = document.getElementById('image-preview');
                imagePreview.src = reader.result;
                imagePreview.style.display = 'block';
            }
            reader.readAsDataURL(input.files[0]);
        }
    </script>
</body>

</html>
