<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .circle {
            position: absolute;
            top: -1%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150px;
            height: 150px;
            border-radius: 50%;
            z-index: 10;
            overflow: hidden;
            cursor: pointer;
        }

        .circle img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .container {
            position: relative;
        }
    </style>
</head>

<body class="flex justify-center items-center h-screen p-8 bg-red-700">
    <div class="absolute top-4 w-full flex justify-center">
        <% if (typeof erro !== 'undefined') { %>
            <div class="mb-20 bg-gradient-to-r from-gray-700 to-gray-800 text-white p-4 rounded-lg w-1/4 text-center shadow-lg transform transition duration-300 ease-in-out hover:scale-105">
                <p class="text-lg font-bold"><%= erro %></p>
            </div>
        <% } %>
    </div>
    
    
    

    <div class="container mt-28 bg-gray-800  from-gray-700 to-gray-800 p-8 rounded-lg shadow-lg w-80 h-120 flex flex-col items-center">
        <!-- Primeira parte do formulário -->
        <div id="step1">
            <div class="circle">
                <img id="step1Image" class="w-16 h-22" src="/img/logo.png" alt="Imagem do lutador">
            </div>
            <form id="form1" action="cadastro" enctype="multipart/form-data" method="POST" class="w-full">
                <div class="mb-4 mt-8">
                    <label for="nome" class="block text-white" required>Nome:</label>
                    <input type="text" id="nome" name="nome" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-black" required>
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-white" required>Email:</label>
                    <input type="email" id="email" name="email" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-black" required>
                </div>
                <div class="mb-4">
                    <label for="senha" class="block text-white" required>Senha:</label>
                    <input type="password" id="senha" name="senha" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-black" required>
                </div>
                <button type="button" onclick="nextStep()" class="w-full bg-red-700 text-white py-2 rounded-md text-sm hover:bg-red-800 transition duration-300">Próximo</button>
        </div>

        <!-- Segunda parte do formulário (inicialmente oculta) -->
        <div id="step2" class="hidden">
            <div class="circle" onclick="document.getElementById('uploadImage').click()">
                <img id="previewImage" src="/img/logo_inserir.png" alt="Imagem do lutador">
                <input name="imagem"  type="file" id="uploadImage" accept="image/*" style="display: none" onchange="previewFile()">
            </div>
              
                <div class="mb-4 mt-10">
                    <div class="text-center text-red-700 font-bold">
                        <p>Clique no Circulo Para Alterar a Foto</p>
                    </div>
                    <label for="nome_lutador" class="block text-white" required>Nome do Lutador:</label>
                    <input type="text" id="nome_lutador" name="nome_lutador" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-black" required>
                </div>
                <div class="mb-4">
                    <label for="divisao" class="block text-white">Divisão:</label>
                    <select id="divisao" name="lvl_profissional" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-black" required>
                        <option value="" disabled selected>Selecione a divisão</option>
                        <option value="Amador">Amador</option>
                        <option value="Semi-profissional">Semi-profissional</option>
                        <option value="Profissional">Profissional</option>
                    </select>
                </div>
                
                <div class="mb-4">
                    <label for="categoria" class="block text-white" required>Categoria:</label>
                    <select id="categoria" name="categoria" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-black" required>
                      <option value="">Selecione sua categoria de peso</option>
                      <option value="Peso Palha, 40-48 kg">Peso Palha, 40-48 kg</option>
                      <option value="Peso Mosca Ligeiro, 48-50 kg">Peso Mosca Ligeiro, 48-50 kg</option>
                      <option value="Peso Mosca, 50-52 kg">Peso Mosca, 50-52 kg</option>
                      <option value="Peso Galo, 52-56 kg">Peso Galo, 52-56 kg</option>
                      <option value="Peso Pena, 56-60 kg">Peso Pena, 56-60 kg</option>
                      <option value="Peso Leve, 60-66 kg">Peso Leve, 60-66 kg</option>
                      <option value="Peso Meio-Médio, 66-70 kg">Peso Meio-Médio, 66-70 kg</option>
                      <option value="Peso Médio, 70-76 kg">Peso Médio, 70-76 kg</option>
                      <option value="Peso Meio-Pesado, 76-84 kg">Peso Meio-Pesado, 76-84 kg</option>
                      <option value="Peso Pesado, 84-93 kg">Peso Pesado, 84-93 kg</option>
                      <option value="Peso Super Pesado, 93-100 kg">Peso Super Pesado, 93-100 kg</option>
                    </select>
                  </div>
                  
                <button type="submit" class="w-full bg-red-700 text-white py-2 rounded-md text-sm hover:bg-red-800 transition duration-300">Cadastrar</button>
                <div class="flex justify-center">
                    <button type="button" onclick="backToStep1()" class="rounded-md bg-red-700 hover:bg-red-800 w-40 mt-4 font-bold text-white">Página Anterior</button>
                </div>
            </form>
        </div>
        <a href="login" class="mt-6 text-white font-bold">Voltar para Login</a>

    </div>


    <script>
        let uploadedImage = null;

        function previewFile() {
            const preview = document.getElementById('previewImage');
            const file = document.getElementById('uploadImage').files[0];
            const reader = new FileReader();

            reader.onloadend = function() {
                preview.src = reader.result;
                uploadedImage = reader.result; // Armazena a imagem carregada
                document.getElementById('step1Image').src = reader.result; // Atualiza a imagem na primeira parte
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "/img/logo_inserir.png"; // Define a imagem padrão caso nenhuma imagem seja selecionada
            }
        }

        function nextStep() {
            //if (document.getElementById('form1').checkValidity()) {
                if (uploadedImage) {
                    document.getElementById('previewImage').src = uploadedImage;
                } else {
                    document.getElementById('previewImage').src = '/img/logo_inserir.png';
                }

                document.getElementById('step1').classList.add('hidden');
                document.getElementById('step2').classList.remove('hidden');
          //  } else {
          //      alert("Por favor, preencha corretamente todas as informações antes de prosseguir.");
         //   }
        }

        function backToStep1() {
           // document.getElementById('form2').reset();

            if (uploadedImage) {
                document.getElementById('step1Image').src = uploadedImage;
            } else {
                document.getElementById('step1Image').src = '/img/logo.png';
            }

            document.getElementById('step2').classList.add('hidden');
            document.getElementById('step1').classList.remove('hidden');
        }




        
    </script>
</body>

</html>
