<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<style> 
.body{
    background-color: #2e2e2e;
}
</style>
</head>
<body class="body">
    <%- include(`navbar`)%>


   

    <%- include(`cadastroPostagen`)%>
    <%- include(`postagens`)%>
</body>
</html>
