<div class="container mx-auto p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center">
        <% for (let i = 0; i < postagens.length; i++) { %>
            <div class="bg-white rounded shadow mx-2 my-4 w-64">
                
                    <h1 class="text-base font-bold"><%= postagens[i].descricao %></h1>
             
        <% } %>
    </div>
</div>
