<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<style>
     .body{
            background-color: #2e2e2e;
        }

</style>
<body class="body">
    <nav>
        <%- include(`navbarhome`)%>
    </nav>
</body>
</html>