<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .circle {
            position: absolute;
            top: -1%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150px;
            height: 150px;
            border-radius: 50%;
            z-index: 10;
            overflow: hidden;
        }

        .circle img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .container {
            position: relative;
        }
    </style>
</head>
<body class=" flex justify-center items-center h-screen p-8 bg-red-700 ">
    <div class="container bg-gray-800 p-8 rounded-lg shadow-lg w-80 h-96 flex flex-col items-center">
        <div class="circle"><img src="/img/logo.png" alt=""></div>
        <h2 class="text-xl font-semibold mb-4">Login</h2>
        <form action="/login" method="POST" class="w-full">
            <div class="mb-4">
                <label for="email" class="block text-white" placeholder="Seu email" required>Email:</label>
                <input type="email" id="email" name="email" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-black" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-white" placeholder="Sua senha" required>Senha:</label>
                <input type="password" id="senha" name="senha" class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-black" required>
            </div>
            <button type="submit" class="w-full bg-black text-white py-2 rounded-md text-sm hover:bg-gray-800 transition duration-300">Entrar</button>
        </form>

        <a href="cadastro" class="mt-6 text-white font-bold" >Cadastre-se</a>

    </div>
</body>
</html>
