<div >
    <a href="cadastro" >Cadastro</a>
    <a href="login" >Login</a>
    <a href="cadastroPostagen">Postar</a>
    <a href="cadastroEvento"  >CadastroEvento</a>
    <a href="forum">Forum</a>
</div>